---
import Container from "@components/container.astro";
import Cta from "@components/cta.astro";
import Features from "@components/features.astro";
import Layout from "@layouts/Layout.astro";

import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="">
  <Container>
    <main
    class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
    <div class="py-6 md:order-1 hidden md:block">
      <Picture
        src={heroImage}
        alt="Astronaut in the air"
        widths={[200, 400, 600]}
        sizes="(max-width: 800px) 100vw, 620px"
        loading="eager"
        format="avif"
      />
    </div>
    <div>
      <h1
        class="text-slate-200 text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
        The Lui - Your Bar in Luisental!
      </h1>
      <p class="text-lg mt-4 text-slate-300 max-w-xl">
        Welcome to Das Lui, your cozy corner in the Luisental student residence in Bremen! 🌟
      </p>
      <div class="mt-6 flex flex-col sm:flex-row gap-3">
        <Link
          href="/pricings"
          internal={true}
          target="_blank"
          target=""
          class="flex gap-1 items-center justify-center"
          rel="noopener">
          <Icon class="text-white w-5 h-5" name="bx:bxs-drink" />

          Getränke
        </Link>
        <Link
          size="lg"
          style="outline"
          rel="noopener"
          href="/contact"
          internal={true}
          class="flex gap-1 items-center justify-center"
          target="_blank"
          target="">
          <Icon class="text-slate-900  w-4 h-4" name="bx:bxs-message-rounded-detail" />
          Schreibe uns
        </Link>
      </div>
    </div>
    </main>


    <Features features={ [
      {
        title: "Cozy Atmosphere",
        description:
          "Genießt entspannte Abende in unserer einladenden Bar - perfekt, um nach einem langen Tag abzuschalten oder neue Leute kennenzulernen.",
        icon: "bx:bxs-coffee",
      },
      {
        title: "Kicker & Darts",
        description:
          "Fordert eure Freunde zu einer Runde Kicker oder Darts heraus und sorgt für eine Extraportion Spaß an euren Abenden.",
        icon: "bx:bxs-game",
      },
      {
        title: "Günstige Getränke",
        description:
          "Von Bier bis Softdrinks - bei uns gibt's erfrischende Getränke zu studentischen Preisen, perfekt für den kleinen Geldbeutel.",
        icon: "bx:bxs-beer",
      },
      {
        title: "Offen für alle",
        description:
          "Ob Studierende oder Gäste - bei uns ist jeder willkommen! Kommt vorbei und erlebt eine inklusive Atmosphäre, in der sich jeder wohlfühlt.",
        icon: "bx:bxs-group",
      },
    ]} />
    <!-- <Logos /> -->
    <Cta />
  </Container>
</Layout>
