---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Gemütliche Atmosphäre",
    description:
      "Genießt entspannte Abende in unserer einladenden Bar - perfekt, um nach einem langen Tag abzuschalten oder neue Leute kennenzulernen.",
    icon: "bx:bxs-coffee",
  },
  {
    title: "Kicker & Darts",
    description:
      "Fordert eure Freunde zu einer Runde Kicker oder Darts heraus und sorgt für eine Extraportion Spaß an euren Abenden.",
    icon: "bx:bxs-game",
  },
  {
    title: "Günstige Getränke",
    description:
      "Von Bier bis Softdrinks - bei uns gibt's erfrischende Getränke zu studentischen Preisen, perfekt für den kleinen Geldbeutel.",
    icon: "bx:bxs-beer",
  },
  {
    title: "Offen für alle",
    description:
      "Ob Studierende oder Gäste - bei uns ist jeder willkommen! Kommt vorbei und erlebt eine inklusive Atmosphäre, in der sich jeder wohlfühlt.",
    icon: "bx:bxs-group",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Deine neue Lieblingsbar
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Ob ihr Lust auf eine Runde Kicker, Darts habt oder einfach nur mit Freunden bei einem kühlen Getränk abhängen wollt,<wbr/>
    bei uns seid ihr genau richtig. 🍻
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
